* {
    box-sizing: border-box;
}

html {
    font-size: 50%
}

@media screen and (min-width: 768px) and (min-height: 500px) {
    html {
        font-size: 65.5%
    }

}



body {
    font-size: 2rem;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;


}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) and (min-height: 450px) {
    h1 {
        font-size: 3.6rem;
        margin: 2rem 0;
    }

}

a {
    text-decoration: none;
    color: rgb(40, 40, 40);
}

.btn {
    background-color: #fff;
    display: inline-block;
    padding: 1.2rem 1.8rem;
    border-radius: 100px;
    font-weight: 600;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #444;
    cursor: pointer;

}

.hero {
    display: grid;
    height: 100%;
    padding: 4rem 3rem 2rem 3rem;

}

.hero-block {
    display: grid;
    max-width: 100rem;
    width: 100%;
    margin: auto;


}

.player__0,
.player__1 {
    position: relative;
}

.score {
    color: red;
    font-weight: 600;
}

.score__block {
    background-color: #d6404f;
    margin: 0 auto;
    max-width: 15rem;
    padding: 1rem 0;
    color: #fff;
    border-radius: 10px;
    margin-top: 5rem;
}

.block-container {
    position: relative;
}

.score__block p {
    margin-top: 0;
    text-transform: uppercase;
}

.score__block h3 {
    margin-bottom: 0;
}

.player__0 {
    background-color: #ff8ca7;


}

.player__1 {
    background-color: #f37e8a;

}

.player__0,
.player__1 {
    text-align: center;
    padding: 4rem 0;
    max-width: 40rem;

}


.icon {
    margin-right: 1rem;
}

.new-game,
.dice,
.hold {
    justify-self: center;
    align-self: center;

}



@media screen and (min-width: 650px) {
    .hero-block {
        grid-template-columns: 1fr 1fr;

    }

    .player__0 {
        justify-self: right;
        width: 100%;
    }

    .player__0 {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

    }

    .player__1 {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }


    .big {
        display: inline-block;
    }

    .big {
        position: absolute;
        right: 0;
        transform: translateX(50%);
        z-index: 100;
    }

    .new-game.big {
        top: 2rem;
    }

    .hold.big {
        bottom: 0;
    }

    .dice.big {
        top: 0;
    }



}

.dice-image {
    width: 7rem;
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateX(50%);
    z-index: 100;

}

.hidden {
    display: none;
}

.play {
    background-color: #94b055;
}

.winner {
    background-color: rgba(0, 0, 0, 1) !important;

}

.winner .heading {
    color: red !important;
}

.winner-ad,
.loser-ad,
.hand {
    display: none;
}

.winner .winner-ad,
.loser .loser-ad {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    display: block;
}

.gif {
    width: 100%;
    height: 100%;
}

.play .hand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-100%);
    width: 30px;
    display: block;
}

@media screen and (min-width: 768px) and (min-height: 450px) {
    .play .hand {
        width: 50px;
    }

}